<div class="container mt-5">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <p><%= link_to "Calculs", calculs_path, class:"me-5 text-decoration-none" %></p>
      <p><%= link_to "Dossiers", dossiers_path, class:"text-decoration-none"%></p>
    </div>
  </div>
</div>
