.connexion {
  background-color: #515151;
  height:100vh;
  display: flex;
  align-items: center;
}

.form-img-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px; // ou `100%` si tu veux qu’il suive `.connexion`
  margin: 0;
  padding: 0;
}

#container-devise {
  background-color: #F4F4F4;
  width: 100%;
  max-width: 900px;
  padding: 0; // enlever le padding ici !
}

.img-container {
  width: 50%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form-container {
  width: 50%;
  padding: 40px;
}

.btn-valider {
  background-color: #B88A62;
  color: #F4F4F4;
}

.menu-container {
  width: 50%;
  padding: 40px;
  display:flex;
  flex-direction: column;
}

.btn-menu {
  padding: 20px;
  font-size: 32px;
  font-weight: bolder;
  background-color: #B88A62;
  color: #F4F4F4;
  border-radius: 8px;
}

.btn-menu:hover {
  color:#B88A62;
  background-color: #F4F4F4;
  border: 2px solid #B88A62;
}

@media (max-width: 768px) {
  .form-img-container {
    flex-direction: column;
  }

  .img-container,
  .form-container {
    width: 100%;
  }

  .img-container {
    padding: 20px 0;
  }
}
