.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  margin-left: 50px;
  border-radius: 50%;
}

#navbarSupportedContent{
    margin-right: 50px;
}

.btn-navbar {
  padding: 10px;
  font-size: 18px;
  font-weight: bolder;
  background-color: #BFBEC5;
  color: #F4F4F4;
  border-radius: 8px;
}

.btn-navbar:hover {
  color: #696773;
  background-color: #F4F4F4;
  border: 2px solid #BFBEC5;
}
