.titre-dossier {
  text-align: center;
  border-radius: 6px;
  background-color: #696773;

  color:white;
  box-shadow: 0 10px 30px rgba(0,0,0, 0.1);
  padding: 20px;
  // background-color: #f5f5f5;
}

.objet, .client {
  font-size: 40px;
}

.lieu {
  text-align: end;
  font-size: 24px;
}

.facturation {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 10px 30px rgba(0,0,0, 0.1);
}

.avancement-paiement {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #f5f5f5;
  box-shadow: 0 10px 30px rgba(0,0,0, 0.1);
}

.avancement {
  width: 50%;
}

.links a, .links i {
  text-decoration: none;
  color:#696773;
}

.facturation strong, .avancement strong, .paiement strong {
  font-size: 21px;
}

.back img{
  width:40px;
}
