.titre-dossier {
  // border: 1px solid gray;
  text-align: center;
  border-radius: 6px;
  background-color: #696773;
  color:white;

  padding: 20px;
  // background-color: #f5f5f5;
}

.objet, .client {
  font-size: 40px;
}

.lieu {
  text-align: end;
  font-size: 24px;
}

.facturation {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 6px;
  align-items: center;
  background-color: #f5f5f5;
}

.avancement-paiement {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: #f5f5f5;
}

.avancement {
  width: 50%;
}

.col a, .col i {
  text-decoration: none;
  color:#696773;
}
